{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>Все Новости</h1>
    <h1>Date: {% current_date %} </h1>
    <h1>Number of posts: {{ posts|length }}</h1>


 {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
               <td>Автор</td>
           </tr>
           {% for post in posts %}
           <tr>
               <td>{{ post.title|truncatechars:20 }}</td>
               <td>{{ post.data|date:'d M Y' }}</td>
               <td>{{ post.text|truncatechars:20|censor }}</td>
               <td>{{ post.author.user }}</td>
               <td>

            </td>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}


{% endblock content %}









